* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

html, body {
    overflow: hidden;
}

body, main {
    background: #0d0d0d;
    color: white;
}

main {
    font-size: 4rem;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

main h1 span {
    color: dodgerblue;
}