* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

body, main {
    background: #0d0d0d;
    color: white;
}

main {
    font-size: 4rem;
}

main h1 span {
    color: dodgerblue;
}