*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    overflow-x : hidden;
    overflow-y : auto;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

main{
    margin: 2.5%;
    box-shadow: 2px 2px 5px #0D0D0D;
    overflow: hidden;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #0D0D0D;
    padding: 2%;
    font-family: 'Muli', sans-serif;

}

nav aside{
    width : 100%;
    display : flex;
    justify-content : flex-start;
    color : white
}

nav-links-{
    width : 100%;
    display: flex;
    justify-content : flex-end;
    align-items : center;
}

nav-links- a{
    color : white;
    text-decoration : none;
    padding: 1%;
    text-align: center;
    width: 120px;
    font-size: 1.20rem;
    display: flex;
    position: relative;
    z-index: 2;
}

nav-links- a::after{
    content: '';
    width: 100%;
    height: 100%;
    max-width: 0;
    background: #BFA36F;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: auto;
    transition: max-width 0.1s ease;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav-links- a:hover{
    color: #0D0D0D;
}

nav-links- a:hover::after{
    max-width: 100%;
    transition: max-width 0.1s ease;
}

nav-links- a span{
    margin: auto;
    opacity: 0.5;
    font-weight: bolder;
}

logo-{
    text-align: center;
}

header{
    background: url('../assets/images/bkg002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Squada One', sans-serif !important;
}

header-text-{
    text-align: center;
    padding: 2%;
    border-radius: 15px;
    transition: opacity 1s ease-in;
    opacity: 0;
}

header-text- h3{
    font-weight: 0;
    font-size: 10rem;
    text-shadow: 2px 2px 5px #0D0D0D;
    transition: all .2s ease;
}

header-text- a{
    color: #BFA36F;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    letter-spacing: 10pt;
    text-shadow: 2px 2px 5px #0D0D0D;
}

about-{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 10%;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
}

about-title-{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Squada One', sans-serif;
    font-size: 4rem;
    color: #344F59;
}

about-body-{
    line-height: 32pt;
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
}

projects-{
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#projects-title{
    width: 50%;
    font-family: 'Muli', sans-serif;
    margin: 2%;
    border-bottom: 2px solid #0D0D0D;
}

.project{
    width: 24rem;
    margin: auto;
    box-shadow: 2px 2px 5px #0D0D0D;
    padding: 2%;
    border-radius: 15px;
    font-family: 'Muli', sans-serif;
}

.project-top{
    width: 100%;
}

.project-img{
    width: 100%;
}

.project-title{
    width: 100%;
    text-align: left;
}

.project-body{
    line-height: 25pt;
}

.btn{
    display: block;
    padding: 2%;
    font-weight: bolder;
    border: none;
    outline: none;
    background: #344F59;
    color: white;
    margin-left: auto;
    width: 25%;
    cursor: pointer;
    transition: transform 0.1s linear;
}

.btn:active{
    transform: translateY(2px);
    transition: transform 0.1s linear;
}

skills-{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-family: 'Muli', sans-serif;
    padding: 2%;
    background: white;
    transition: all 0.2s ease;
}

.skill{
    width: 100%;
    padding: 2%;
    color: #0D0D0D;
}

.skill:nth-child(1), .skill:nth-child(3){
    border-right: 1px solid white;
}

.skill-top{
    text-align: center;
    font-size: 4rem;
    color: #344F59;
}

.skill-top i{
    cursor: pointer;
}

.skill h1{
    margin: 2%;
    border-bottom: 0.5px solid #0D0D0D;
    width: 75%;
}

.skill p{
    padding: 2%;
    line-height: 24pt;
}

.skill small{
    margin: 2%;
    color: #344F59;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-style: italic;
}
contact-{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', san-serif;
}

contact- h3{
    font-size: 2rem;
}

.contact-form{
    width: 50%;
    font-family: 'Muli', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

#contact-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#contact-right{
    width: 100%;
}

#contact-right textarea{
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    resize: none;
    padding: 1%;
}

.form-element{
    width: 75%;
    margin: 2%;
    font-size: 1.25rem;
    padding: 1%;
    border: none;
    outline: none;
    border-bottom: 1px solid #0D0D0D;
}

footer{
    width: 100%;
    background: #0D0D0D;
    color: white;
    font-family: 'Muli', sans-serif;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}


